body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.header{
    width: 80%;
    margin: 0 auto;
    background-color: #333;
    text-align: center;
    font-size: 22px;
    color: #fff;
    padding: 0.1px;
    line-height: 0.1;
}

h1 {
    text-align: center;
    margin: 10px;
}

.container {
    width: 300px;      /* Set desired width */
    margin: 0 auto;      /* Center the container */
    margin-bottom: 20px; /* Space below each container */
    padding: 15px;       /* Optional: add some padding */
    background: rgba(0, 0, 0, 0.15); /* Optional: light background */
    font-size: 13px;
}

.container1 img {
    width: 330px;
    margin: 0 auto;
    margin-bottom: 32px;
    border-radius: 2px;
    text-align: center;
    display: block;
    box-shadow: #333 1px 1px 25px;
}

.container h2 {
    border-bottom: 1px solid #333;
    padding-bottom: 2px;
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.container p {
    padding-left: 10px;
}
.container ul {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.footer {
    width:80%;
    line-height: 0.1;
    margin: 0 auto;
    background-color: #333;
    text-align: center;
    font-size: 15px;
    color: #fff;
    padding: 0.1px;
    display: block;
}